@use "../abstracts/themes" as *;

.dialog {
  margin: auto;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  transition: display 0.3s allow-discrete;
  animation: close-dialog 0.3s forwards;

  @include themify {
    background-color: themed("background");
  }

  &[open] {
    animation: open-dialog 0.3s forwards;
  }

  &-s {
    padding: 1.75rem;
    width: min(560px, 100%);
  }

  &-l {
    padding: 2rem;
  }

  &-add-edit {
    .auto-grow {
      margin-top: 1rem;
    }

    .form-btns-label {
      margin: 1.5rem 0;
    }
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes open-dialog {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes close-dialog {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0);
    opacity: 0;
  }
}
