@use "../abstracts/themes" as *;

.form {
  &-btns {
    &-func {
      display: flex;
      justify-content: end;
      gap: 1rem;
    }

    &-label {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  &-title {
    font-size: 1.5rem;
    font-weight: 500;

    @include themify {
      color: themed("text-main");
    }
  }

  &-text {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &-error {
    color: #b91c1c;
  }

  &-color-text-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &-popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 1rem;
    padding: 1rem;
    gap: 1rem;

    @include themify {
      background-color: themed("background");
    }
  }

  &-color-popup {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, auto);
  }

  &-date-picker-input {
    position: absolute;
    visibility: hidden;
  }

  label {
    cursor: pointer;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    border: none;
    background: none;

    @include themify {
      color: themed("text-main");
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      @include themify {
        color: themed("text-secondary");
      }
    }
  }
}
