.main {
  flex: 1;

  &-title {
    font-size: 3rem;
    font-weight: 700;
  }

  &-header {
    margin: 1rem 2rem;
    height: 1.5rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 4rem auto;
    padding: 0 2rem;
    width: min(900px, 100%);
  }
}
