@use "../abstracts/themes" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 1 256px;
  gap: 4rem;
  padding: 1rem;

  @include themify {
    background-color: themed("accent");
    border-right: 1px solid themed("sidebar-border");
  }

  &-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    & > .btn:first-of-type {
      margin-left: auto;
    }
  }

  &-title {
    font-size: 1.25rem;
    font-weight: 700;

    @include themify {
      color: themed("main");
    }
  }

  &-projects {
    &-header {
      display: flex;
      justify-content: space-between;
    }

    &-title {
      font-size: 1.125rem;
      font-weight: 700;
    }
  }
}
