@use "../abstracts/themes" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 1 256px;
  gap: 4rem;
  padding: 1rem;

  @include themify {
    background-color: themed("accent");
    border-right: 1px solid themed("sidebar-border");
  }
}
